.app-container {
  display: flex;
  justify-content: center;
  min-height: 100vh;
  background-color: #252627;
}

.destinations-container {
  width: 90%;
  max-width: 900px;
  margin-top: 32px;
  margin-bottom: 32px;
}

.heading {
  font-family: 'Roboto';
  color: #f1f5f9;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.search-container {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e1;
  background-color: #0f172a;
  padding: 6px 12px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  background-color: transparent;
  color: #f1f5f9;
  font-size: 16px;
  font-family: 'Open Sans';
}

.search-icon {
  width: 20px;
  height: 20px;
}

.destinations-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding-left: 0;
  list-style-type: none;
}
